@import '@fontsource/poppins';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body{
    background-color: rgb(9, 9, 185);
    color: white;
    font-family: 'poppins', sans-serif;
    }
  }
